@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Navigation Bar */
#navbar{
    display: flex;
    position: relative;
    align-items: center;
    top: 0;
}

/* Background for navbar using #navbar::before */
#navbar::before{
    content: "";
    background-color: #343d47;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.9; */
}

/* Navigation Bar: Logo & Image */
#logo{
    margin: 0px 10px;
    padding: 2px 0px;
}
#logo img{
    height: 60px;
}

/* Navigation Bar: List Styling */
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    margin: 0px 10px;
}
#navbar ul li a{
    text-decoration: none;
    padding: 08px 18px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
#navbar ul li a:hover{
    color: gray;
    text-decoration: underline;
}

#map {
    width: 100vw;
    height: 100vh;
}

#about{
    border: 2px solid gray;
    background-color: #343d47;
    font-family: 'PT Serif', serif;
    padding: 10px;
    color: white;
}

#about h2{
    margin-bottom: 10px;
}

#about ul li{
    padding: 5px;
    margin: 2px 35px;
}

#footer{
    background-color: #343d47;
    text-align: center;
    color: white;
    font-family: 'PT Serif', serif;
    padding: 4px;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    background: #343d47;
    color: white;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  